.Background {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Tablar-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.Tablar-time span:first-child {
  font-size: 7rem;
  line-height: 7rem;
}

.Tablar-time span:last-child {
  font-size: 2rem;
  line-height: 2rem;
}

.Greeting h1 {
  font-size: 3rem;
  margin: 1rem 0;
  cursor: pointer;
}

.Greeting input {
  border: 0;
  border-bottom: 3px solid #fff;
  background: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  color: #fff;
  font-size: 3rem;
  outline: 0;
  text-align: center;
  margin: 1rem 0;
}

.Greeting input::placeholder {
  color: #666;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.9);
}
