.Game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 1rem;
}

.Square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 56px;
  font-weight: bold;
  width: 75px;
  height: 75px;
  line-height: 75px;
  padding: 0;
  text-align: center;

  &:nth-child(3n + 1) {
    border-left: none;
  }

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    border-top: none;
  }

  &:nth-child(3n) {
    border-right: none;
  }

  &:nth-child(7),
  &:nth-child(8),
  &:nth-child(9) {
    border-bottom: none;
  }

  &:focus {
    /* Prevent items from overlapping the outline */
    position: relative;
  }

  .Game.Game--winner &:focus {
    outline: none;
  }
}

.Message {
  text-align: center;
}

.Announcement {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;

  h1 {
    margin: 0.75rem 0;
  }

  div {
    margin-bottom: 0.75rem;
  }
}
